doctype
html(lang='en')
  head
    title #{page} | #{siteTitle}
    meta(name='description', content='' + pageDesc)
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    nav.nav.topMenu
      a(href='/').navbar-brand.homeLink CraftFAITH
      span.navbar-text.tagline Inspire others with your God given talents and abilities.
      ul.nav
        li.nav-item.menu
          a(href='/').nav-link Home
        li.nav-item.menu
          a(href='/about').nav-link About
        li.nav-item.menu
          a(href='/contact').nav-link Contact
      form.form-inline
        input.form-control.mr-sm-2.menuSearch(type='text', placeholder='Find Inspiration')
  block content
