/* Imports */
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');



/* Nav */
body {
  font-family: 'Cormorant Garamond', serif;
  background-color: #f2f2f2;
}

.topMenu {
  box-shadow: 0 0 3px rgba(0,0,0,.5);
  background-color: white;
}

.homeLink {
  font-size: 30px;
  color:black;
}

.homeLink:hover {
  color:#1d1d1d;
  text-decoration: none;
}

.tagline {
  font-style: italic;
  margin-top: 8px;
}

ul.nav {
  margin-left: auto;
  margin-top: 8px;
  padding-bottom: 0px;
}

/*
.menu {
  border-bottom:2px solid rgba(0,0,0,.0);
}
*/
.menu a {
  text-transform: uppercase;
  color:black;
  border-bottom:2px solid rgba(0,0,0,.0);
}

.menu:hover {
  border-bottom:2px solid black;
}

.menuSearch {
  font-family: 'Cormorant Garamond', serif;
  font-size: .9em;
  letter-spacing: 2px;
  border-radius: 0px;
  border: none;
  background-color: black;
  color: white;
  text-transform: uppercase;
  margin-left: auto;
}

.menuSearch:focus {
  background-color: black;
  color:white;
}
