/* Imports */
@import url('https://fonts.googleapis.com/css?family=Cardo');

body {
  font-family: 'Cardo', serif;
}

.nav li{
  display: inline;
  margin-right:20px;
}
.nav li a {
  text-decoration: none;
}